@use "sass:map";
@use "variable" as v;
@use "mainLeft";
@use "mainRight";
@use "animations";
@use "svg";
@use "clickConversions";
@use "promptsPopups";
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url(/assets/nnnoise.svg);
  background-repeat: repeat;
  user-select: none;
}

main-container {
  display: flex;
  margin: 1%;
  padding: 0;
  flex-direction: row;
}

settings {
  height: 50%;
  width: 28%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.94);
  box-shadow: 8px 14px 18px 1px rgba(0, 0, 0, 0.565);
}

warning-screen {
  height: 45%;
  width: 18%;
  z-index: 11;
  background-image: url(/assets/rainy.gif);
  box-shadow: 8px 14px 18px 1px rgba(0, 0, 0, 0.302);
}
settings,
warning-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: rgb(247, 251, 255);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -85%);
  transition: 200ms ease-in-out;
  scroll-behavior: smooth;
  scrollbar-color: rgba(0, 0, 0, 0);
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: hidden;

  h1 {
    letter-spacing: 5px;
    color: rgb(200, 107, 107);
    font-size: #{map.get(v.$font-sizes, "large2up")};
    font-family: #{v.$Quick};
  }

  h3 {
    color: rgb(126, 188, 214);
    font-size: #{map.get(v.$font-sizes, "regular3up")};
    font-family: #{v.$Comfort};
  }

  NOT {
    color: rgb(255, 255, 255);
    font-weight: #{map.get(v.$font-weights, "bold1up")};
    font-size: #{map.get(v.$font-sizes, "regular3up")};
    font-family: #{v.$Comfort};
  }

  .close {
    position: absolute;
    margin: 0;
    display: flex;
    right: 1%;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 35px;
    width: 10%;
    justify-content: center;
    align-items: center;
  }

  general,
  animations,
  statsdata,
  danger-zone {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 12px;
    margin-bottom: 5px;
    padding: 5px;
  }
}

ul#bar {
  position: fixed;
  top: 51%;
  right: 30%;
  text-align: center;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 15px;
  width: 5%;
  height: 34%;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -85%);
  transition: 200ms ease-in-out;
  background: rgb(146, 163, 177);
  border-radius: 10px;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  z-index: 30;
}
#bar li {
  padding: 0;
  font-family: #{v.$Comfort};
  transform: scale(1);
  transition: transform 0.3s ease;
  a {
    text-decoration: none;
    color: whitesmoke;
    z-index: 100;
  }
}

#bar li:first-child,
#bar li:last-child {
  font-size: #{map.get(v.$font-sizes, "regular3up")};
}

#bar li:hover {
  transform: scale(1.1);
}
#bar a:hover {
  color: bisque;
}

settings.active,
ul#bar.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

warning-screen.warn {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}

overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 100;
}

overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 9;
}

main {
  width: 60%;
  height: 92vh;
  margin: 1em;
  padding: 0;
}

main {
  color: hsl(0, 0%, 12%);
  font: 400 16px/1.5 #{v.$Exo};
  text-align: center;
  background: url(v.$bg-url) repeat 0 0;
  animation: bg-scrolling-reverse 0s infinite;
  animation-timing-function: linear;
  &::before {
    content: "SHAPE CLICKER";
    font-family: #{v.$Exo};
    font-size: #{map.get(v.$font-sizes, "large3up")};
    font-weight: #{map.get(v.$font-weights, "bold1up")};
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(
      ellipse 80% 80% at center,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.2) 75%,
      rgba(0, 0, 0, 0.484) 100%
    );
    pointer-events: none;
  }
  position: relative;
}

main.bgAnimation {
  color: hsl(0, 0%, 12%);
  font: 400 16px/1.5 #{v.$Exo};
  text-align: center;
  background: url(v.$bg-url) repeat 0 0;
  animation: bg-scrolling-reverse 2s infinite;
  animation-timing-function: linear;
  &::before {
    content: "SHAPE CLICKER";
    font-family: #{v.$Exo};
    font-size: #{map.get(v.$font-sizes, "large3up")};
    font-weight: #{map.get(v.$font-weights, "bold1up")};
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(
      ellipse 80% 80% at center,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.2) 75%,
      rgba(0, 0, 0, 0.484) 100%
    );
    pointer-events: none;
  }
}

stats-container {
  display: flex;
  position: relative;
  margin-top: 50px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;

  stats {
    display: flex;
    margin: 0;
    padding: 0;
    height: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    shapes,
    plus-shapes {
      margin: 0;
      padding: 0;
      font-family: #{v.$Comfort};
      font-weight: #{map.get(v.$font-weights, "bold1up")};
    }

    shapes {
      color: hsl(0, 0%, 0%);
      font-size: 35px;
    }
    plus-shapes {
      color: hsl(0, 0%, 10%);
      font-size: #{map.get(v.$font-sizes, "regular3up")};
    }
  }
}

.btn,
.btnDng,
.btnReset {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  min-height: 70px;
  width: 40%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  font-family: #{v.$Quick};
}
.btnNoReset {
  position: absolute;
  margin: 0;
  top: -1%;
  right: 1%;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 35px;
  width: 10%;
}

.btn:hover {
  background-color: #45a088;
}
.btnDng:hover {
  background-color: #a00000;
}
.btnReset:hover {
  background-color: #bc0000;
}
.btnNoReset:hover {
  color: rgb(212, 212, 212);
}

bonus-shape {
  display: none;
  visibility: hidden;
}

bonus-shape.visible {
  position: absolute;
  visibility: visible;
  display: flex;
  color: black;
  font-size: 50px;
  z-index: 1000;
}

span#c {
  color: #{map.get(v.$popup-C, "highlight")};
}

span#c0 {
  color: #{map.get(v.$popup-C, "goodempha")};
}

span.c1 {
  color: #{map.get(v.$popup-C, "money")};
}

.radial-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.2) 75%,
    rgba(0, 0, 0, 0.484) 100%
  );
  pointer-events: none; /* Ensures overlay doesn't block interactions */
}

.rotate-vertical {
  margin: 0;
  transform: rotate(90deg);
  transform-origin: center;
}
